html {
    height: 100%;
    font-size: 100%;
}

body {
    background-color: white;
}

.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: lightgray;
    z-index: 1;
}

.sidebar-header {
    padding-left: 15px;
    margin-bottom: 5px;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

.sidebar-header .new-room {
    margin-top: 10px;
}

.sidebar-title {
    display: inline-block;
    padding-right: 20px;
}

.sidebar .room-name {
    padding-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
} 

.sidebar .room-name:hover {
    cursor: pointer;
}