<div class="sidebar">
    <div class="sidebar-header">        
        <h1 class="sidebar-title">Bloc Chat</h1>
        <span type="button" class="new-room" ng-click="main.addRoom()">New Room</span>
    </div>
    <div class="sidebar-body" ng-repeat="room in main.rooms">
        <p class="room-name" ng-click="main.setCurrentRoom(room)">{{ room.$value }}</p>
    </div>
</div>   

<div class="messages">
    <div class="messages-header">
        <h3 class="messages-title">{{ main.setCurrentRoom }}</h3>
    </div>
    
    <div class="messages-body" ng-repeat="message in main.messages">
        <div class="username">{{ message.username }}</div>
        <div class="user-message">{{ message.content }}</div>
        <div class="timestamp">{{ message.sentAt }}</div>
    </div>
</div>

<div class="message-field">
    <input type="text" name="input" placeholder="Type message here" class="message-box" ng-model="main.newMessage.content" style="width:500px;">
    <button class="btn-new-message" type="button" ng-click="main.sendMessage()">Send Message</button>
</div>