<div class="modal-box">
    <div class="modal-title">
        <h3 >Create New Room</h3>
    </div>
    
    <div class="modal-boby">
        <h5 class="modal-prompt">Enter a Room Name</h5>
            <input type="text" name="input" ng-model="modal.newRoom.name">
    </div>
    <div class="modal-footer">
        <button class="btn-cancel" type="button" ng-click="modal.cancel()">Cancel</button>
        <button class="btn-new" type="button" ng-click="modal.createRoom(newRoom)">Create Room</button>
    </div>
</div>